body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *:before, *:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.margin-top {
   margin-top: 5.5rem;
}

.navbar-name {
   display: flex;
   align-items: center;
   user-select: none;
}

h3 {
   font-size: 1.35rem;
}

.color-inputs {
   display: flex;
}

.align-center {
   text-align: center;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.overflow-wrap {
   overflow: auto;
   overflow-wrap: break-word;

   max-width: 100%;
}